# .NET
bin/
obj/
*.user
appsettings.Development.json

# C++
build/
*.o
*.exe
.dev

# DB (PostgreSQL)
appsettings.Production.json
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo

# KOTLIN
*.iml
local.properties
.gradle/
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/
