# ==========================================
# SeharaCloud Configuration Template
# Read README FOR FULL INSTRUCTIONS
# ==========================================

# 1. DB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=promijeni_me_u_jaku_lozinku
POSTGRES_DB=seharacloud

# 2. Media path on machine (documents,images,ideos,photos,thumbnails)
MEDIA_PATH=/data/seharacloud/media

# Where Psql stores data from DB
DB_DATA_PATH=/data/seharacloud/db-data

# 3. network configs
API_PORT=5000